# Python Sample Quiz : Somikoron AI
#### This notebook contains a set of 10 questions on `Pandas`

#### Data Science Boot Camp, February 2023, Dhaka

---

In [1]:
import numpy as np
import pandas as pd

---

## Part 1 : Easy

# Q: True or False : Pandas Series is used to show one dimensional data?

In [2]:
# Write your answer here

# Q: What is a correct syntax to create an empty dataframe?

a. pd.getFrame()
b. pd.fromFrame()
c. pd.DataFrame()
d. pd.ShowFrame()
e. pd.Frame()

In [3]:
# Write your answer here

# Q: What is a correct syntax to return the first row of a dataframe?

a. df.iloc[0]
b. df[0]
c. df.iloc[0,:]
d. df[0,0:]
e. Both a and c

In [4]:
# Write your answer here

# Q: True or Flase : One can convert a series to a dataframe.

In [5]:
# Write your answer here

# Q: True or Flase : The rows in a series or in a dataframe are called 'rows'?

In [6]:
# Write your answer here

## Part 2 : Challenging

df  = pd.DataFrame({'x':[1.0,2,2,11,19,33], 'y':[4,3,3,9,0,np.nan]})

# Q: What is the 'type' of the output, df['x']?  

a. list
b. series
c. dataframe
d. dictinary
e. set

In [7]:
# Write your answer here

# Q: What is the 'type' of the  output, df[['x']]? 

a. list
b. series
c. dataframe
d. dictinary
e. set

In [8]:
# Write your answer here

# Q: How do you print an entire dataframe, df?

a. df.to_string()
b. df.print()
c. df.dump()
d. df.show_full()
e. None of the above

In [9]:
# Write your answer here

# Q: Find the maximum value along each row of df.

In [10]:
# Write your code here

# Q: Add value 9 along each row in column 1 of df.

In [11]:
# Write your code here