# Python Sample Quiz : Somikoron AI

#### This notebook contains a set of 10 questions on Python `iterable`, `control-structure` , and `function`.

#### Data Science Boot Camp, February 2023, Dhaka

---

In [1]:
import numpy as np
import pandas as pd

---

## Part 1 : Easy

# Q: What is the value of x?

x = [1] * 2  * 3

a. [1, 1, 1, 1, 1, 1]
b. [1,2,3]
c. [1,1,2,2,3,3,3]
d. 6

In [2]:
# Write your code here

# Q: What is the value of x?

x = {1} * 2  * 3

a. {1,2,3}
b. (1,2,3)
c. TypeError
d. {1,1,1,1,1,1}

In [3]:
# Write your code here

# Q : Convert [x for x in range(10)] into [0,0,0,0,0,0,1,1,1,1].

In [4]:
# Write your code here

# Q: What is the output?

num_list = [1, 2, 3]
str_list = ['one', 'two','three']

zip_object = zip(num_list, str_list)

print( list(zip_object) )

In [5]:
# Write your code here

# Q: What does the code print?

num_list = [2,3,14,10]
map_object = map( lambda x: x**2, num_list)
print( list(map_object) )

In [6]:
# Write your code here

## Part 2 : Challenging

# Q: Which of the following objects can be used as a dictionary key?

a. 'abc'
b. 10
c. ('key','value')
d. ['key','value']
e. {'k1':1, 'k2':2}

In [7]:
# Write your answer here

# Q: Find the value 2 from the list.

theList = [
    'city',
    'dhaka',
    {'block': 11,
     'apt': {'beds':3, 'baths':2},
     'color': 'brick-red'},
    {'block': 12, 'unit': 5}
]

In [8]:
# Write your code here

# Q: Convert the following list of tuples into a list of strings.

tuple_list = [(1,2),(3,4),(5,6),(7,8)]

Hint: You will need to use map(), lambda(), list comprehension, and join()

In [9]:
# Write your code here

# Q: From the list below, find the word with the highest length

string_list = ['Dhaka','Bangladesh','Career','Consistent','Somikoron','Data','Science']

Hint: Use reduce(), lambda(), len(), and if-else

In [10]:
# Write your code here

# Q : Find the minimum and maximum of the list, l = [36,17,4,26,5,12,9,8,18,5,12,41].

You can not use Python min() or max() function.

You must use a for loop along with if-else statement.

In [11]:
# Write your code here