# Python Sample Quiz : Somikoron AI
#### This notebook contains a set of 10 questions on Python `string` and `list`.

#### Data Science Boot Camp, February 2023, Dhaka

---

In [1]:
import numpy as np
import pandas as pd

---

## Part 1 : Easy

# Q: Which method will you use use to detect 'learn' in s = 'Python program is fun to learn' 

a. s.in('learn')
b. s.within('learn')
c. s.endswith('learn')
d. s.where('learn')

In [2]:
# Write your code here

# Q: What will be the output, 'Python is easy. It is easy to pick up.'.find('easy')

a.  0
b. 10
c. 15
d. 18

In [3]:
# Write your code here

# Q: What will be the output, 'Python is easy. It is easy to pick up.'.find('easy',30,50)

a.  0
b. 10
c. -1
d. 18
e. None of the above

In [4]:
# Write your code here

# Q : Replace '\t' from s='somikoron\tai'.

Hint: Use expandtabs and replace

In [5]:
# Write your code here

# Q: Which method will you use to convert the following list of strings to a string?


a. concate( ['somikoron','is','an','insurtech','startup'] )

b. ' '.join( ['somikoron','is','an','insurtech','startup'] )

c. ''.join( ['somikoron','is','an','insurtech','startup'] )

d. ['somikoron','is','an','insurtech','startup'].lstrip()

In [6]:
# Write your code here

## Part 2 : Challenging

# Q: What is the decimal value of the letter 'a'?

Hint : Use Python ord() or chr() method

In [7]:
# Write your code here

# Q: True or False : What character does the decimal value 65 represent?

Hint : Use Python ord() or chr() method

In [8]:
# Write your code here

# Q : Run the following lines of code and print the output. What do you find? 

arr = np.arange(2432, 2556)

for i in arr:
    print( chr(i), end=',')

In [9]:
# Write your code here

# Q: What is the decimal value of Bangla letter 'অ'?

In [10]:
# Write your code here

# Q: What is the decimal value of Bangla letter 'আ'?

a. 66
b. 59
c. ২৪৯৯
d. None of the above

In [11]:
# Write your code here